#sign-up-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: auto;
}
#sign-up-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width:70%;
    font: 400 16px/24px "Macan","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#sign-up-title{
    color: #404145;
    margin-top: 10%;
    font-size: 25px;
    margin-bottom: 5%;
    /* font-weight: bold; */
    font-family: macan,helvetica neue,Helvetica,Arial,sans-serif;
    font-weight: 500;

}
#sign-up-Fname, #sign-up-Lname, #sign-up-Uname, #sign-up-Email, #sign-up-Bio, #sign-up-Pass{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    width:100%
}
.sign-up-labels{
    font-size: 17px;
    color: #404145
}
.sign-up-Inputs{
    height:30px;
    width:100%
}
#sign-up-submit{
    margin-top: 3%;
    width:102%;
    height:40px;
    margin-left: 2.3%;
    background-color: #1dbf73;
    color:white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3%;
}
